In [10]:
import pandas as pd

df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,8]])

df.head()

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  8

In [11]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [13]:
df.index.tolist()

[0, 1, 2]

In [21]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]],columns=['A','B','C'],index=['w','x','y','z'])
df

    A   B   C
w   1   2   3
x   4   5   6
y   7   8   9
z  10  11  12

In [24]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [23]:
df.index

Index(['w', 'x', 'y', 'z'], dtype='object')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, w to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      int64
 1   B       4 non-null      int64
 2   C       4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes

In [28]:
df.describe()

               A          B          C
count   4.000000   4.000000   4.000000
mean    5.500000   6.500000   7.500000
std     3.872983   3.872983   3.872983
min     1.000000   2.000000   3.000000
25%     3.250000   4.250000   5.250000
50%     5.500000   6.500000   7.500000
75%     7.750000   8.750000   9.750000
max    10.000000  11.000000  12.000000

In [29]:
df.shape

(4, 3)

In [30]:
df.size

12